.board {  
  width: 100%;
  &.inactive {
    &>div>button {
      width: 24px;
      height: 24px;
      border:none;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top:5px;
      right:5px;
      &:after {
        content: 'ð™“';        
      }
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }  
  &>div {
    float: left;
    width: calc(100% / var(--columns));
    border:1px solid white;
    position: relative;
    background-color: #ccc;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;      
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }  
    &>div {
      width: 100%;
      height: 100%;
      position: absolute;      
      top:0;
      left:0;
      font-size: 5em;
      color:#fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:not(:empty) {
      animation: in .5s forwards;
    }
    &:empty {
      animation: out .5s forwards;
    } 
  }   
}

.result {
  text-align: center;
  display: none;
  h2 {
    font-size: 1.5em;
  }  
  font-size: 1em;

}
