@charset "UTF-8";
:root {
  --columns: 4;
  --guttter: 1em;
  --font-size: 12px;
  --container-width: 100%;
  --bg: #fff; }

@media only screen and (min-width: 768px) {
  :root {
    --container-width: 768px;
    --font-size: 16px; } }

@keyframes in {
  from {
    transform: rotateY(0deg);
    opacity: 0; }
  to {
    transform: rotateY(360deg);
    opacity: 1; } }

@keyframes out {
  from {
    transform: rotateY(0deg);
    opacity: 0; }
  to {
    transform: rotateY(360deg);
    opacity: 1; } }

* {
  box-sizing: border-box; }

html, body {
  background-color: var(--bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0; }

h1, h2 {
  font-size: 1.5em;
  font-weight: normal;
  padding: 0;
  margin: 1em auto;
  text-align: center; }
  h1 + p, h2 + p {
    text-align: center; }

header, footer {
  text-align: center; }

.container {
  width: var(--container-width);
  margin: 0 auto; }

.form-control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border: 1px none #ccc;
  border-bottom-style: solid; }
  .form-control label small {
    display: block; }
  .form-control input {
    border: 1px solid #8f8f8f;
    padding: 5px;
    border-radius: 3px; }
    .form-control input:hover {
      border-color: #555; }
  .form-control input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .form-control input[type='file'] + label {
      display: inline-block;
      text-decoration: underline;
      cursor: pointer; }

/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .tabs > label {
    order: 1;
    justify-content: space-evenly;
    display: block;
    cursor: pointer;
    text-decoration: underline;
    transition: all ease 0.2s;
    padding: .5em;
    color: blue; }
  .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff; }
  .tabs input[type='radio'] {
    display: none; }
    .tabs input[type='radio']:checked + label {
      text-decoration: underline; }
      .tabs input[type='radio']:checked + label + .tab {
        display: block; }

.board {
  width: 100%; }
  .board.inactive > div > button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px; }
    .board.inactive > div > button:after {
      content: 'ð™“'; }
  .board:after {
    content: '';
    display: block;
    clear: both; }
  .board > div {
    float: left;
    width: calc(100% / var(--columns));
    border: 1px solid white;
    position: relative;
    background-color: #ccc;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .board > div:before {
      content: '';
      display: block;
      padding-top: 100%; }
    .board > div > div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 5em;
      color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
    .board > div:not(:empty) {
      animation: in .5s forwards; }
    .board > div:empty {
      animation: out .5s forwards; }

.result {
  text-align: center;
  display: none;
  font-size: 1em; }
  .result h2 {
    font-size: 1.5em; }
